:root {
  --title-color: goldenrod;
  --line-color: white;
}

.Banner {
  color: var(--title-color);
  text-align: center;
}

.Banner-title {
  font-family: "Tourney", cursive;
  font-weight: 900;
  font-size: 6rem;
}

.Banner-logoLine {
  display: flex;
  align-items: center;
}

.Banner-logoLine:before,
.Banner-logoLine:after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: var(--line-color);
}

.Lines-Between {
  background: linear-gradient(
    transparent 45%,
    red 45%,
    red 55%,
    transparent 55%
  );
}

.Lines-Between span {
  background: white;
  /*padding: 0 2px;*/
}

.Lines-Between span:last-of-type {
  float: right;
}
