:root {
  --title-color: goldenrod;
  --line-color: white;
}

.Banner {
  color: var(--title-color);
  text-align: center;
}

.Banner-title {
  font-family: "Tourney", cursive;
  font-weight: 900;
  font-size: 6rem;
}

.Banner-logoLine {
  display: flex;
  align-items: center;
}

.Banner-logoLine:before,
.Banner-logoLine:after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: var(--line-color);
}
