:root {
  --card-width: 200px;
  --card-height: 300px;
  --hover-card-width: 220px;
  --hover-card-height: 320px;
  background-color: black;
  font-family: "Bebas Neue", serif;
}
.grid-container {
  display: grid;
  margin: auto;

  grid-template-columns: repeat(auto-fill, var(--card-width));
  grid-auto-rows: var(--card-height);
  grid-gap: 3rem;
  justify-content: center;
}

@media (min-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(4, var(--card-width));
  }
}

.Card {
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 3%;
}

.Card--hovering {
  transition: all 0.2s ease-in-out;
}

.Card--hovering:hover {
  transform: scale(1.05);
  box-shadow: 0 0 6px 3px gold;
}

.Card-picture {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.Card-composerName {
  font-size: 170%;
  margin: auto;
}
