:root {
  --card-width: 250px;
  background-color: black;
  font-family: 'EB Garamond', serif;
}
.grid-container {
  display: grid;
  margin: auto;

  grid-template-columns: repeat(auto-fill, var(--card-width));
  grid-auto-rows: 350px;
  grid-gap: 3rem;
  justify-content: center;
}

@media (min-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(4, var(--card-width));
  }
}

.Card {
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 3%;
}

.Portrait {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.Card-Caption {
  font-size: 150%;
  color: darkgoldenrod;
}


