:root {
  --grid-width: 200px;
  --grid-min-width: 150px;
  --current-score-color: seagreen;
  --best-score-color: rebeccapurple;
}

.Scoreboard {
  font-family: "Tourney", cursive;
  font-weight: 400;
  font-size: 2rem;
  background-color: white;
  color: white;

  width: var(--grid-width);
  min-width: var(--grid-min-width);
  margin: 2rem 5px;
  border: 1px dashed black;

  display: flex;
  flex-direction: column;
}

.Scoreboard-titleCurrent {
  background-color: var(--current-score-color);
  text-decoration: underline;
}

.Scoreboard-titleBest {
  background-color: var(--best-score-color);
  text-decoration: underline;
}

.Scoreboard-currentScore {
  background-color: var(--current-score-color);
}

.Scoreboard-bestScore {
  background-color: var(--best-score-color);
}

.Divided {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Divided-divider {
  flex-grow: 1;
  border-bottom: 1px dashed white;
}
