:root {
    --btn-width: 200px;
    --scoreboard-width: 300px;
}

.Scoreboard {
    background-color: darkslategray;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    margin:1rem auto ;
    width: var(--scoreboard-width);
border: 1px dashed lightslategray;

    display: grid;
    grid-template-columns: var(--btn-width);
    justify-content: center;
    text-align: center;
}

.Scoreboard-currentScore {
    /*background-color: palegreen;*/
    color: palegreen;
}

.Scoreboard-bestScore {
    /*background-color: gold;*/
    color: gold;
}

